<ng-container>
<app-navbar></app-navbar> 

<div class="container">  

  <div class="row">
    <div class="col-am-6 col-md-4 col-md-offset-4" style="width:100%">
      <h1 class="text-left">University Role Master</h1>
      <br>
      <div class="account-wall" style="width:50%">
	  
	  
	  
	  
<div [hidden]="submitted">

<!-- <div class="alert alert-success" style="margin-bottom:10px;" *ngIf="SuccessMessage !=''"> -->
  <!-- <strong>{{SuccessMessage}}</strong> -->
<!-- </div> -->

<form #EventForm="ngForm" (submit)="onSubmit()">

<div id="tabs">
<div class="row">

<ul class="nav nav-tabs" id="wheel-tab">
<li class="active " #firstLI>
<a href="#OverviewTab" data-toggle="tab">Role Mapping</a>
</li>



</ul>


<div class="tab-content x_panel">
<div id="OverviewTab" class="tab-pane fade in active">
<div>
<ul>
<li class="red" *ngFor="let a of this.ErrorList; let index = index">
{{ErrorList[index]}}
</li>
</ul>
</div>

 
	
	<label>University <span class="red">*</span></label>
	<div class="input-group" style="width:93%" *ngIf = "tagID=='C'">
     <span class="input-group-addon"><i class="fa fa-key"></i></span>
	
		<select id="#Univ_ID" (ngModelChange)="onChange($event)"   [(ngModel)]="model.Univ_ID"  #Univ_ID="ngModel" (ngModel)="Univ_ID"   name="Univ_ID" ngControl="CategoriesMstr"  class="form-control" >
         
		<option *ngFor="let univ of Universities" [value]="univ.Univ_ID" >  
        {{univ.Univ_Name}}
        </option>
    </select>
		<div [hidden]="Univ_ID.valid || Univ_ID.pristine"
             class="alert alert-danger">
          University is required 
		  </div>
	
	</div>
	<div class="input-group" style="width:93%" *ngIf = "tagID=='U'">
				 <span class="input-group-addon"><i class="fa fa-address-card"></i></span>
					
					<input disabled type="text" value="{{universityName}}" name="universityName" ngControl="universityName"  class="form-control">
					 
					
				</div>


<div class="">

<label>Role Name <span class="red">*</span></label>
	<div class="input-group" style="width:100%;">
    
		<div style="width:98%;float:left; margin-bottom:10px;" *ngFor="let univrole of UniversityRoles;let i = index">		
		<input disabled type="text" value="{{univrole.Univ_RoleName}}"  ngControl="Univ_RoleName" class="form-control" style="width:98%;"
		autofocus="true"> 
		<div style="width:2%;float:right;">
		<a id="remove" class=""(click)=RemoveRoles()><img src="..\..\src\img\remove.png" height="30px" width="30px" ></a>
		</div>
		</div>
		
		<div style="width:98%;float:left; margin-bottom:10px;" *ngFor="let role of model.Univ_RoleName;let i = index">		
		<input required type="text" [(ngModel)]="role.Univ_RoleName" name="Univ_RoleName{{i}}" ngControl="Univ_RoleName" style="width:98%;"  class="form-control"
		autofocus="true" id="#Univ_RoleName{{i}}" #Univ_RoleName{{i}}="ngModel"> 
		
		<div style="width:2%;float:right;" *ngIf="i < model.Univ_RoleName.length-1 ">
		<a id="remove" class=""(click)=RemoveRoles()><img src="..\..\src\img\remove.png" height="30px" width="30px" ></a>
		</div>
		</div>
		
		<div style="width:2%;float:right;">
		<a id="addMore" class=""(click)=AddMoreRoles()><img src="..\..\src\img\AddMore.png" height="30px" width="30px" ></a>
		</div>
	
	</div>


</div>



<div>
	<input type="submit" class="btn btn-lg btn btn-primary btn-block" style="width:15%;float:right" value="Save" [disabled]="!EventForm.form.valid || model.Univ_ID == 0">
	</div>
	
</div>
</div>

</div>

</div>

</form>
</div>
</div>
</div>
</div>
</div>

</ng-container>
