
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">

            <div class="page-title">
              <div class="title_left">
                <h3>Event Lists <small></small></h3>
              </div>

              <div class="title_right">
			  
			  <div *ngIf="!authService.login()" [routerLinkActive]="['active']"   [routerLinkActiveOptions] = "{exact:true}"><a  class="big-red-button" [routerLink]="['/eventinfo/0']">Register Event</a>
			  </div>
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="searchFilter" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" (click)="open()" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
            
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-12 mail_list_column" *ngFor="let item of eventModel; ">
                      
                        <a href="#" id="{{item._id}}">
                          <div class="mail_list">
                            <div class="left">
                              <i class="fa icon-time"></i>  &nbsp;{{item.RemainDay}} days
							  <!-- <a href="../eventDetails/{{item.EventID}}" style="background-image: url('http://www.hackathon.io/assets/icns/avatar/event.png');"></a> -->
                            </div>
							
                            <div class="right">						

                              <h3><a [routerLink]="['/eventDetails/', item._id]">{{item.EventTitle}}</a> 
							  
							  <small>&nbsp;{{item.Location}}</small>
							  
							  </h3>
							  <div *ngIf="!authService.login()" [routerLinkActive]="['active']"   [routerLinkActiveOptions] = "{exact:true}"><a style="float:right" [routerLink]="['/eventinfo/', item.EventID]">Edit</a></div>
                              <p>{{item.Description}}...</p>
							  
                            </div>
                          </div>
                        </a>
                        
                    
                      </div>
                      <!-- /MAIL LIST -->

                      <!-- CONTENT MAIL -->
                     
                      <!-- /CONTENT MAIL -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

 