
.row{
width:100%;
}
.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -10px;
}

.twelve, .row .twelve {
    width: 100%;
}
.row:after {
    clear: both;
}



.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before{content:"\f041"}
.icon-time:before{content:"\f017"}
.nav-md {background:#fff;}


 .right_col {
    padding: 10px 20px 0;
   
}
.left-content
{
margin-left:10%;
margin-top:60px;
}

.tab-layout
{
width:98%;
}

.pagecontent
{
	height:100%;
	overflow:auto;
}

.big-red-button {
    font-size: 10pt;
    padding: 0 20px;
    height: 38px;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff !important;
    background-color: #337ab7 	;
    transition: all .2s ease;
	font-family: "Montserrat", sans-serif;
    font-style: normal;
    
    line-height: 3em;
	width:190px;
}



































