	<form  #AddUniversity="ngForm">
  <div class="modal-dialog" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color:#73879C;background: #F7F7F7;font-family:inherit;font-size: 30px;font-weight: 400;line-height: 1.471">Add University </h4>
      </div>
	  <div class="body border">
<div class="row">
<div class="two columns">
<label>University Name</label>
<span  class="red">*</span>
</div>
<div class="ten columns">
<div class="input string required user_full_name">

    <input required class="string required"  name="UniversityName" [(ngModel)]="univeritymodel.UniversityName"  size="50" type="text" id="#UniversityName" #UniversityName="ngModel">
</div>
{{univeritymodel.UniversityName}}
<div [hidden]="UniversityName.valid || UniversityName.pristine"
             class="alert alert-danger " style="width:54%">
          University Name is required
        </div>	
</div>
</div>
<div class="row">
<div class="two columns">
<label>University Address</label>
<span  class="red">*</span>
</div>
<div class="ten columns">
<div class="input string optional user_headline">
   <input class="string optional" required  [(ngModel)]="univeritymodel.Address"  name="Address"   size="50" type="text" id="#Address" #Address="ngModel"></div>

<div [hidden]="Address.valid || Address.pristine"
             class="alert alert-danger " style="width:54%">
          University Address is required
        </div>	
</div>
</div>
<div class="row">
<div class="two columns">
<label>University Email</label>
<span  class="red">*</span>
</div>
<div class="ten columns">
<div class="input string optional user_headline">
   <input class="string optional" required id="#EmailID"  [(ngModel)]="univeritymodel.EmailID"  name="EmailID" #EmailID="ngModel"  size="50" type="text"
   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"></div>
   <div [hidden]="EmailID.valid || EmailID.pristine"
             class="alert alert-danger " style="width:54%">
          
		      <div [hidden]="!EmailID.hasError('required')">University EmailID is required</div>
   <div [hidden]="!EmailID.hasError('pattern')">Email format should be 
      <small><b>joe@abc.com</b></small>
   </div>
        </div>	
   
</div>
</div>
<div class="row">
<div class="two columns">
<label>University Contact</label>
<span  class="red">*</span>
</div>
<div class="ten columns">
<div class="input string optional user_headline">
    <input class="string optional" required id="#ContactNo" [(ngModel)]="univeritymodel.ContactNo"   name="ContactNo" #ContactNo="ngModel"  size="50" type="text"></div>
	
	<div [hidden]="ContactNo.valid || ContactNo.pristine"
             class="alert alert-danger " style="width:54%">
          University ContactNo is required
        </div>	
</div>
</div>

<!-- <div class="row"> -->
<!-- <div class="two columns"> -->
<!-- <label> RoleID</label> -->
<!-- </div> -->
<!-- <div class="ten columns"> -->
<!-- <div class="input string optional student_bio"> -->
     <!-- <input class="string optional" id="Student_Heading" [(ngmodel)]="univeritymodel.UniversityName"   name="Student_Heading"   size="50" type="text"></div> -->
<!-- </div> -->
<!-- </div> -->

<div class="row">
<input type="button" class="btn btn-lg btn btn-primary btn-block student_update" id="close" data-dismiss="modal" value="Close" style="margin-top:4px;">
<input type="button" (click)="updateProfile()" class="btn btn-lg btn btn-primary btn-block student_update" value="Save">

</div>

        </div>
     
    </div>

  </div>
</form>
 