<!-- <div class="showcase"> -->
<!-- <div class="jumbotron-register"> -->
  <!-- <h1>Welcome to LinkUS Registration page!</h1> -->
  <!-- <p> -->
    
  <!-- </p> -->

<!-- </div> -->


<ng-container *ngIf="authService.login();">
<app-navbar></app-navbar> 

<div class="container">  

  <div class="row">
    <div class="col-am-6 col-md-4 col-md-offset-4" style="width:100%">
      <h1 class="text-left">Organization Transcation Mapping</h1>
      <br>
      <div class="account-wall" style="width:50%">
	  
	  
	  
	  
<div [hidden]="submitted">



<form #EventForm="ngForm" enctype="multipart/form-data">

<div id="tabs">
<div class="row">

<ul class="nav nav-tabs" id="wheel-tab">
<li class="active " #firstLI>
<a href="#OverviewTab" data-toggle="tab">Mapping</a>
</li>



</ul>

<div class="tab-content x_panel">
<div id="OverviewTab" class="tab-pane fade in active">

<div>
<ul>
<li class="red" *ngFor="let a of this.ErrorList; let index = index">
{{ErrorList[index]}}
</li>
</ul>
</div>



 
	
	<label>Organization <span class="red">*</span></label>
	<div class="input-group" *ngIf = "tagID=='C'">
     <span class="input-group-addon"><i class="fa fa-key"></i></span>
	
		<select id="#OrganizationID"  (ngModelChange)="onChange($event)" [(ngModel)]="model.OrganizationID"  #OrganizationID="ngModel" name="OrganizationID" ngControl="OrganizationID"  class="form-control" >
         
		<option *ngFor="let org of OrganizationsWithRoles" [value]="org.Orgn_ID" >  
        {{org.OrgnName}}
        </option>
    </select>
		<div [hidden]="OrganizationID.valid || OrganizationID.pristine"
             class="alert alert-danger">
          Organization is required 
		  </div>
	
	</div>
	<div class="input-group" *ngIf = "tagID=='O'">
				 <span class="input-group-addon"><i class="fa fa-address-card"></i></span>
					
					<input disabled type="text" [(ngModel)]="model.OrganizationName" name="OrganizationName" ngControl="OrganizationName"  class="form-control"
					 id="#OrganizationName" #OrganizationName="ngModel">
					
				</div>
	
	 <label>Transcation Type <span class="red">*</span></label>
	<div class="input-group">
     <span class="input-group-addon"><i class="fa fa-key"></i></span>
		<select [(ngModel)]="model.TransTypeID" name="TransTypeID" ngControl="TransTypeID"  class="form-control" placeholder="Event Type"
		autofocus="true" id="#TransTypeID" #TransTypeID="ngModel" (ngModelChange)="onChangeTransType($event)">		
		 <option *ngFor="let tt of TranscationTypeList" [value]="tt.Tran_Type_ID" >  
        {{tt.Tran_Type_Name}}
        </option>
		</select>
		<div [hidden]="TransTypeID.valid || TransTypeID.pristine"
             class="alert alert-danger">
          Trans Type is required 
		  </div>
	</div>
	
	<label>Start Date <span class="red">*</span></label>
	<div class="input-group" *ngIf="model.TransFlowStartDate == ''">
     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		<!-- <input type="date" #myDate [value]="model.StartDt | date:'yyyy-MM-dd'" (input)="model.StartDt=parseDate($event.target.value)" /> -->
		<input type="date" required name="TransFlowStartDate" ngControl="TransFlowStartDate"  class="form-control" placeholder="Start Date"
		autofocus="true" id="#TransFlowStartDate" (blur)="compareDates()" [value]="model.TransFlowStartDate | date:'yyyy-MM-dd'" (input)="model.TransFlowStartDate=parseDate($event.target.value)" />
		
	
	</div>
	<div class="input-group" *ngIf="model.TransFlowStartDate != ''">
     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		<!-- <input type="date" #myDate [value]="model.StartDt | date:'yyyy-MM-dd'" (input)="model.StartDt=parseDate($event.target.value)" /> -->
		<input disabled type="date" required name="TransFlowStartDate" ngControl="TransFlowStartDate"  class="form-control" placeholder="Start Date"
		autofocus="true" id="#TransFlowStartDate" (blur)="compareDates()" [value]="model.TransFlowStartDate | date:'yyyy-MM-dd'" (input)="model.TransFlowStartDate=parseDate($event.target.value)" />
		
	
	</div>

	<label>End Date</label>
	<div class="input-group">
     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		
		<input required type="date" name="TransFlowEndDate" ngControl="TransFlowEndDate"  class="form-control" placeholder="End Date"
		autofocus="true" id="#TransFlowEndDate" (blur)="compareDates()" [value]="model.TransFlowEndDate | date:'yyyy-MM-dd'" (input)="model.TransFlowEndDate=parseDate($event.target.value)" />
		</div>
	
<div class="AddMoreDivUniv">

<label>Add Level <span class="red">*</span></label>
	<div class="" style="width:10%">
    
		<div style="width:80%;float:left;">
		<input required type="text" [(ngModel)]="model.NoOfLevel" name="NoOfLevel" ngControl="NoOfLevel"  class="form-control"
		autofocus="true" id="#NoOfLevel" #NoOfLevel="ngModel" max="{{OrganizationRoles.length}}"> 
		</div>
		<div style="width:20%;float:right;">
		<a id="addMore" class=""(click)=AddMoreRoles() [class.disabled]="isDisabled()"><img src="..\..\src\img\AddMore.png" height="30px" width="30px" ></a>
		</div>
		<div [hidden]="NoOfLevel.valid || NoOfLevel.pristine"
             class="alert alert-danger">
          no of level is required
        </div>	
	</div>


</div>
<table class="table table-bordered" *ngIf="model.Roles.length != 0" style="border: 0px solid #ddd;">
    <thead class="table-bordered">
      <tr>
        <th>S.NO</th>
        <th>Role</th>
        <th>Priority</th>
		<th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of model.Roles;let i = index">
        <td>{{i+1}}</td>
        <td>
		
		<select id="#OrganizationRoleID{{i}}" #OrganizationRoleID{{i}}="ngModel" [(ngModel)]="role.RoleID"   name="OrganizationRoleID{{i}}" class="form-control" >         
			<option *ngFor="let orgnRole of OrganizationRoles" [ngValue]="orgnRole.Orgn_RoleID">
				{{orgnRole.Orgn_RoleName}}
			</option>
        </select>	
	</td>
        <td>P - {{model.Roles[i].Priority}}</td>
		<!-- <td *ngIf="model.Roles.length == i+1 && model.Roles.length !=1" style="border:none;"> -->
		<td>
		<a id="Remove" class="" (click)=RemoveRoles(model.Roles[i].Priority)><img src="..\..\src\img\Remove.png" height="30px" width="30px"></a>
		</td>
		
      </tr>
  </tbody>
  </table>
	 <!-- <div *ngFor="let role of model.Roles;let i = index"> -->
      
	  
	 
		<!--  -->
	
	<!-- </div> -->
		
	
	<!-- <!-- <button (click)="onEventSubmit()" class="big-red-button floatRight" [disabled]="!EventForm.form.valid" >Finish</button> -->
	<!-- <a id="Next" class="big-red-button" data-toggle="tab" (click)=OnNextClick(input,1,firstLI,secondLI) #input>Next</a> -->
	<!-- <!-- <input type="submit" class="btn btn-lg btn btn-primary btnNext" value="Next"> -->
</div> 



<div>
	<a id="btnReset" class="big-red-button floatRight" style="margin-left:5px;"  (click)=onReset()>Reset</a>
	<a id="btnFinal" class="big-red-button floatRight" [class.disabled]="isButtonDisabled()" (click)=onSubmit()>Save</a>
	</div>

</div>

</div>

</div>

</form>
</div>

<div>
<h2 *ngIf="SavedTransData.length != 0"> Saved Transaction </h2>
<table class="table table-bordered" *ngIf="SavedTransData.length != 0" style="border: 0px solid #ddd;">

    <thead class="table-bordered">
      <tr>
        <th>S.NO</th>
        <th>Start Date</th>
        <th>End Date</th>
		<th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of SavedTransData;let i = index">
        <td>Flow - {{i+1}}</td>
        <td>
		{{SavedTransData[i].Tran_Flow_Start_DT | date:'MM/dd/yyyy'}}
			
	</td>
        <td>{{SavedTransData[i].Tran_Flow_End_DT | date:'MM/dd/yyyy'}}</td>
		<!-- <td *ngIf="model.Roles.length == i+1 && model.Roles.length !=1" style="border:none;"> -->
		<td >
		<a *ngIf="SavedTransData[i].Tran_Flow_End_DT != null" style="text-decoration:underline;cursor:pointer;" (click)=ViewSavedTransactionFlow(SavedTransData[i].Tran_Map_ID)>View Flow</a>
		</td>
		
      </tr>
  </tbody>
  </table>
</div>

</div>
</div>
</div>
</div>

</ng-container>
<ng-container *ngIf="!authService.login();">
    <app-login></app-login>
</ng-container> 