
<ng-container *ngIf="authService.login();">
<app-navbar></app-navbar> 

<div class="main-wrapper">


<div class="events-wrapper">
<!-- phead -->
<div class="profile2">
<div class="head blue-bg" id="head">
<div class="row">
<div class="twelve columns">
<div class="pic left" style="background-image: url('http://hackathon.io.s3.amazonaws.com/profiles/images/000/082/329/thumb/oculus_rift_3.jpg?1489763175');"></div>
<div class="wrapper left">
<div class="info">
<h1 class="title">{{eventDetails.EventTitle}}</h1>
<p class="heading">{{eventDetails.Description}}...</p>
<div class="extras">
<ul class="clearfix">
<li class="date">
<i class="icon-time"></i>
{{eventDetails.StartDt | date}}

</li>

</ul>
<ul class="clearfix">
<li>
<i class="icon-map-marker"></i>
{{eventDetails.Location}}
</li>
</ul>
</div>
</div>
</div>
<div class="wrapper right">
<!-- links -->
</div>
</div>
</div>

</div>
</div>
<div id="tabs">
<div class="row">

<ul class="nav nav-tabs">
<li class="active" >
<a href="#OverviewTab" data-toggle="tab">Overview</a>
</li>
<li>
<a href="#ScheduleTab" data-toggle="tab">Schedule</a>
</li>
<li class="RulesTab">
<a href="#RulesTab" data-toggle="tab">Rules</a>
</li>

<li>
<a href="#PeopleTab" data-toggle="tab">People</a>
</li>
<li>
<a href="#PrizesTab" data-toggle="tab">Prizes</a>
</li>
<li>
<a href="#ChatTab" data-toggle="tab">Chat</a>
</li>
<li>
<a href="#OrganizersTab" data-toggle="tab">Organizers</a>
</li>
<li>
<a href="#OrganizationTab" data-toggle="tab">{{orgOrUnivLabel}}</a>
</li>
</ul>

<div class="tab-content x_panel">
<div id="OverviewTab" class="tab-pane fade in active">

<div class="eventcheck border border2">
<div class="ebgins">
<div class="joinEvent">
<a href="#" class="big-red-button">JOIN EVENT</a>
</div>
Submission deadline
<ul>
<li>Days</li>
<li>Hours</li>
<li>Min</li>
</ul>
<ul data-timestamp="1548921600" id="js-clock">
<li class="days js-days">{{dayDiff}}</li>
<li class="hours js-hours">{{dayHours}}</li>
<li class="minutes js-minutes">{{dayMin}}</li>
</ul> 
</div>
</div>
<div class="ebgins">
<h2>About this event</h2>
<div class="js-text-full"><p>{{eventDetails.Description}}</p>
</div>
</div>
<div class="ebgins">
<h2>
Prizes
</h2>


<div *ngFor="let rule of eventPrizeArray; let i=index;"> 

<div class="not-available" *ngIf="i == 0"> <i class="icon-exclamation-sign"></i> {{eventPrizeArray[i].PrizeDescription}}</div>
<!-- <a class="footerlink" *ngIf="i == 0" data-toggle="tab" href="#">More</a> -->
</div>




<div class="clear"></div>
</div>
<div class="ebgins">
<h2>Schedule</h2>
<div>
<div class="not-available"> <i class="icon-exclamation-sign"></i> Not available</div> 
</div>
<!-- <a class="footerlink" data-toggle="tab" href="#">More</a> -->
<div class="clear"></div>
</div>
<div class="ebgins">
<h2>Rules</h2>
<!-- <div class="not-available"> <i class="icon-exclamation-sign"></i> Rules are not published.</div> -->


<div *ngFor="let rule of eventRuleArray; let i=index;"> 

<div class="not-available" *ngIf="i == 0"> <i class="icon-exclamation-sign"></i> {{eventRuleArray[i].RuleDescription}}</div>
<!-- <a class="footerlink" *ngIf="i == 0" data-toggle="tab" (click)="ActiveTab('RulesTab')" href="#RulesTab">More</a> -->
</div>

</div>


<div class="ebgins">
<h2>Organizers</h2>

<div *ngFor="let rule of eventOrganizerArray; let i=index;"> 

<div class="not-available" *ngIf="i == 0"> <i class="icon-exclamation-sign"></i> <a href="mailto:{{eventOrganizerArray[i].OrganizerEmail}}">{{eventOrganizerArray[i].OrganizerEmail}}</a></div>
<!-- <a class="footerlink"  *ngIf="i == 0" data-toggle="tab" (click)="ActiveTab('OrganizersTab')" href="#OrganizersTab">More</a> -->
</div>
</div>

<div class="ebgins" *ngIf="tagID=='O'">
<h2>Organization</h2>
<div *ngFor="let organization of eventOrganizationArray; let i=index;"> 

<div class="not-available" *ngIf="i == 0"> <i class="icon-exclamation-sign"></i> {{GetName(eventOrganizationArray[i].OrgnID)}}</div>
<!-- <a class="footerlink" *ngIf="i == 0" data-toggle="tab" (click)="ActiveTab('OrganizersTab')" href="#OrganizersTab">More</a> -->
</div>

  


</div>

<div class="ebgins" *ngIf="tagID=='S' || tagID=='C'">
<h2>University</h2>
<div *ngFor="let university of eventUniversityArray; let i=index;"> 

<div class="not-available" *ngIf="i == 0"> <i class="icon-exclamation-sign"></i> {{GetUnivName(eventUniversityArray[i].Univ_ID)}}</div>
<!-- <a class="footerlink" *ngIf="i == 0" data-toggle="tab" (click)="ActiveTab('OrganizersTab')" href="#OrganizersTab">More</a> -->
</div>

  


</div>


</div>


<div id="ScheduleTab" class="tab-pane fade"><h3>ContactTab
</h3>
</div> 

<div id="RulesTab" class="tab-pane fade "><h3>Rules
</h3>

<div class="pane">
<div class="header">
<div class="pane-title">Rules listed below:</div>
</div>
</div>
<ul class="block-grid one-up" *ngFor="let rule of eventRuleArray"> 
<li><div class="pane">
<div class="body">
<div class="not-available"> <i class="icon-exclamation-sign"></i> {{rule.RuleDescription}}</div>
</div>
</div>
</li>
</ul>

</div>

<div id="PeopleTab" class="tab-pane fade"><h3>People
</h3>
</div>

<div id="PrizesTab" class="tab-pane fade"><h3>Prizes
</h3>


<div class="pane">
<div class="header">
<div class="pane-title">Prizes listed below:</div>
</div>
</div>
<ul class="block-grid one-up" *ngFor="let prize of eventPrizeArray"> 
<li><div class="pane">
<div class="body">
<div class="not-available"> <i class="icon-exclamation-sign"></i> {{prize.PrizeDescription}}</div>
</div>
</div>
</li>
</ul>


</div>

<div id="ChatTab" class="tab-pane fade"><h3>Chat
</h3>
</div>

<div id="OrganizersTab" class="tab-pane fade"><h3>Organizers
</h3>

 <div class="pane">
<div class="header">
<div class="pane-title">Organizers listed below:</div>
</div>
</div>
<ul class="block-grid one-up" *ngFor="let organizer of eventOrganizerArray"> 
<li>
<div class="pane">
<div class="body">
<div class="not-available"> <i class="icon-exclamation-sign"></i> You may contact <h4>{{organizer.OrganizerName}}</h4> at this email address <h4>{{organizer.OrganizerEmail}}</h4> or dial 
 <h4>{{organizer.OrganizerContact}}</h4>
 </div>
</div>
</div>
</li>
</ul>



</div>

<div id="OrganizationTab" class="tab-pane fade"><h3>{{orgOrUnivLabel}}
</h3>

<!-- commenting this one for now -->
<!-- <div *ngIf="tagID=='O'" class="eventcheck border border2" *ngFor="let organization of eventOrganizationArray; let i=index"> -->
<!-- <div class="ebgins"> -->
<!-- <div class="row network_cell"> -->
<!-- <div class="col-md-1"> -->
<!-- <img src="../../src/img/{{GetOrganizationLogo(organization.OrgnID)}}" width="100px" height="100px"> -->

<!-- </div> -->
<!-- <div class="col-md-6 col-md-offset-2 "> -->
<!-- <div class="row"> -->
<!-- <h5> -->
<!-- {{GetName(organization.OrgnID)}} -->
<!-- </h5> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!-- {{GetTitle(organization.OrgnID)}} -->
<!-- </div> -->
<!-- <div class="row"> -->
<!-- {{GetAddress(organization.OrgnID)}} -->
<!-- </div> -->
<!-- <div class="row"> -->

<!-- </div> -->
<!-- </div> -->
<!-- <div class="col-md-9 col-md-offset-1 "> -->
<!-- <div class="row"> -->
<!-- <div> -->
<!-- <a class="big-red-button" style="float:right;" data-target="#OrganizationModal" data-toggle="modal" click=onPopupClick() data-id="{{organization.OrgnID}}">Details</a> -->
<!-- <!-- <div id="OrganizationModal" class="modal fade" role="dialog"> -->
	<!-- <!-- <app-organization id="{{organization.OrgnID}}"></app-organization> -->

  <!-- <!-- </div> -->
<!-- <div id="OrganizationModal" class="modal fade" role="dialog"> -->
	<!-- <div class="modal-dialog"> -->

    
    <!-- <div class="modal-content"> -->
      <!-- <div class="modal-header"> -->
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <!-- <h4 class="modal-title">Organization</h4> -->
      <!-- </div> -->
      <!-- <div class="modal-body"> -->
        <!-- <p>{{GetOverview(organization.OrgnID)}}</p> -->
      <!-- </div> -->
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      <!-- </div> -->
    <!-- </div> -->

  <!-- </div> -->

  <!-- </div>  -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- </div> -->
<!-- </div> -->
 <!-- </div> -->

 <!-- Commenting this one for now-->

 <!------------------------------->
 
 <div  class="eventcheck border border2" *ngFor="let university of eventUniversityArray; let i=index">
<div class="ebgins">
<div class="row network_cell">
<div class="col-md-1">
<img src="../../src/img/PSDC_Logo.png" width="100px" height="100px">

</div>
<div class="col-md-6 col-md-offset-2 ">
<div class="row">
<h5>
{{GetUnivName(university.Univ_ID)}}
</h5>
</div>
<div class="row">
<b>
{{GetUnivContact(university.Univ_ID)}}
</b>
</div>
<div class="row">
{{GetUnivAddress(university.Univ_ID)}}
</div>
<div class="row">

</div>
</div>
<div class="col-md-9 col-md-offset-1 ">
<div class="row">
<div>
<a class="big-red-button" style="float:right;" data-target="#UniversityModal" data-toggle="modal" click=onPopupClick() data-id="{{university.Univ_ID}}">Details</a>
<!-- <div id="OrganizationModal" class="modal fade" role="dialog"> -->
	<!-- <app-organization id="{{organization.OrgnID}}"></app-organization> -->

  <!-- </div> -->
<div id="UniversityModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">University</h4>
      </div>
      <div class="modal-body">
        <p>Dummy text here for now</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>

  </div> 
</div>
</div>
</div>

</div>
</div>
 </div>
 
 
<!----------------------------------->
</div>

</div>
</div>

</div>


</div>




</div>
 
</ng-container> 

<ng-container *ngIf="!authService.login();">
    <app-login></app-login>
</ng-container> 