// ng2 smart table

:host /deep/ {
  ng2-smart-table {
  
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-collapse: collapse;
	 font-size: 13px !important;
    width: 100%;
	
    th, td {
      
      line-height: 35px;
      vertical-align: middle;
	  border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	 font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    }

    tr td {
      padding: 0 8px;
	   font-size: 13px !important;
	 font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif !important;
    margin: 0;
    padding: 8px;
    }
	
	tr:nth-child(even) {
    background-color: #dddddd;
}
}

a.ng2-smart-sort-link {
      font-size: 16px !important;
      
      font-weight: bold;
      &.sort {
        font-weight: bold !important;

        &::after {
          
        }
      }
    }

	.ng2-smart-action-multiple-select input{
    
    
    height: 20px !important;
    margin-left:0px !important;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none !important;
}
 
}


ul:nth-child(even) {
    background-color: #dddddd;
}

.row {
    margin-right: 6px;
    margin-left: 0px;
}







.grid-item {
	border: solid 1px #ccc;
}

.handle {
	width: 100%;
	height: 50px;
	background: #eee;
	color: black;
	font-weight: 500;
	padding: 15px;
	box-sizing: border-box;
}

.btn {
	margin-left: 10px;
}

.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

.navbar-default {
	background: black;
	border: 0px;
}

.navbar-default .navbar-brand {
	color: white;
}

body {
	background-color: #f5f2f2;
}
.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aaaaa;
	border: 1px solid #dddddd;
}

.header li {
    float: left;
	width:12%;
	
}

.header li a {
    display: block;
    color: #1e6bb8;   
    padding: 16px;
    text-decoration: none;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}

 .header li a:hover {
    
}

tooltip-content.tooltip.bottom {
    margin-top: -25px !important;
    padding: 5px 0 !important;
}

.table th {
color:#1e6bb8;
}

.item ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
   
}

.item li {
    float: left;
}

.item li  {
    display: block;

    text-align: center;
    padding: 16px;
    text-decoration: none;
	font-weight:16;
	width:12%;
	text-align:left;
}
.border
{
background-color: #fff;
    margin: 10px auto;
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    width: 90%;
}
.modal-dialog {
    position: relative;
    width: 60% !important;
   
}

.twelve, .row .twelve {
    width: 100%;
}
.column.centered, .columns.centered {
    float: none;
    margin: 0 auto;
}
.column, .columns {
    float: left;
    min-height: 1px;
    padding: 0 10px;
    position: relative;
}
.ten, .row .ten {
    width: 83.33333%;
}
.two, .row .two {
    width: 16.66667%;
}
.pane .body, .tile .body {
    padding: 17px;
    background-color: #fff;
    line-height: 27px;
}
input[type="text"], input[type="password"], input[type="date"], 
input[type="textarea"] input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"] {
    height: 38px;
    padding: 12px;
	margin:0 0 12px 0;
}
.student_bio{
	width:404px;
	margin-bottom:10px;
}
.student_update
{
	width: 90px !important;
    float: right;
}

.header li input {
    
    color: white;   
    padding: 16px;
    text-decoration: none;
	font-weight:16;
	text-align:left;
	margin-top:20px;
	margin-left:15px;
}
.header li label {
    
    color: white;   
    
    text-decoration: none;
	
}

