<ng-container>
<app-navbar></app-navbar> 
<div style="margin-left:230px">
      <nav class="navbar ">
  <div class="container-fluid">
    
	<!-- <div class="nav navbar-nav navbar-right"> -->
	  <!-- <a data-toggle="modal" class="btn btn-primary pull-right navbar-btn" (click)="clearModel();" data-target="#vv">Add University</a> -->
    <!-- </div> -->
  </div>
</nav>

 <div class="row">
              <div class="col-md-12">
                <div>
            
                  <div class="x_content">
				   <div class="row">
                      <div class="col-md-12 mail_list_column">
                      
                     <div class="header">  
                    <ul >
					<li><a>Req No</a></li>
					
					<li><a>Student name</a></li>
					<li *ngIf="tagID=='U'"><a>Prev Approval</a></li>
					<li><a>Next approval</a></li>
								
					
					<li></li>
					</ul>
					</div>
					<div class="item"> 
					 <ul class="col-md-12 mail_list_column mail_list" *ngFor="let item of universityApprovalUserList; let i=index">
					 <tooltip-content #toltip [animation]="true" placement="top">
    <span style="color: #ffc520">Next Approver :</span> <span style="color: #00b3ee">{{item.Next_Approver_RName}}</span><br/>
	<span style="color: #ffc520">Prev Approver :</span> <span style="color: #00b3ee">{{item.Prev_Approver_RName}}</span>
    <!-- <b><i><span style="color: #ffc520">PrevApproval: Sumit - Hod</span></i></b> <small>Html support</small>. -->
</tooltip-content>
<li [tooltip]="toltip">{{item.Tran_Approval_ID}}</li>
					 <!-- <li tooltip content="Next Approver : Amit Khandelwal - Principal{{item.Next_Approver_RID}}<br/> PrevApproval: Sumit - Hod{{item.Prev_Approver_RID}}">{{item.Tran_Approval_ID}}</li> -->
                     
					  <li > {{item.Student_Name}}</li>
					  <li *ngIf="tagID=='U'">{{item.Prev_Approver_RName}} </li>
                      <li>{{item.Next_Approver_RName}} </li>
                      
                     
					  <li *ngIf="tagID=='UR'">
					  <a class="btn btn-primary pull-right" (click)="ApproveStudent(item)">Approve</a>
					  <!-- <a class="btn btn-primary pull-right" style="width:66px;" (click)="showPopup(item._id)" data-toggle="modal" data-target="#vv">Edit</a>  -->
					  
					  </li>
</ul>
                      </div> </div>
					  
                      <!-- /MAIL LIST -->

                      <!-- CONTENT MAIL -->
                     
                      <!-- /CONTENT MAIL -->
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
</div>
</ng-container>

