<div class="container body" *ngIf="authService.login()" >
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="#" class="site_title"><span>CREST</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="./src/img/profile.png"  alt="..." class="img-circle profile_img">
              </div>
			  
			 

			  
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{userName}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li *ngIf="tagID=='U'"><a [routerLink]="['/universitydashboard']"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>                 
                  </li>
				   <li *ngIf="tagID=='U'"><a [routerLink]="['/universityhome']"><i class="fa fa-home"></i> University Events <span class="fa fa-chevron-down"></span></a>                 
                  </li>
				  <li *ngIf="tagID=='UR'"><a [routerLink]="['/universitydashboard']"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>                 
                  </li>
				  <li *ngIf="tagID=='C'"><a [routerLink]="['/']"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>                 
                  </li>
				  
				  <li *ngIf="tagID=='C'"><a [routerLink]="['/university/1']"><i class="fa fa-home"></i> University <span class="fa fa-chevron-down"></span></a>                 
                  </li>
				  <li *ngIf="tagID=='C'"><a [routerLink]="['/universityrole']"><i class="fa fa-edit"></i> University Role Mapping <span class="fa fa-chevron-down"></span></a> 
                  </li>
				  
				  <li *ngIf="tagID=='C'"><a [routerLink]="['/UniversityTransMapping']"><i class="fa fa-home"></i> UniversityTransMapping <span class="fa fa-chevron-down"></span></a>                 
                  </li>
				  <li *ngIf="tagID=='C'"><a [routerLink]="['/organization']"><i class="fa fa-home"></i> Organization <span class="fa fa-chevron-down"></span></a>                 
                  </li>
				  <li *ngIf="tagID=='C'"><a [routerLink]="['/organizationrole']"><i class="fa fa-edit"></i> Organization Role Mapping <span class="fa fa-chevron-down"></span></a> 
                  </li>
				  <li *ngIf="tagID=='C'"><a [routerLink]="['/OrganizationTransMapping']"><i class="fa fa-home"></i> OrganizationTransMapping <span class="fa fa-chevron-down"></span></a>                 
                  </li>
				   <li *ngIf="tagID=='S'"><a [routerLink]="['/']"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>                 
                  </li>
				  <!-- <li *ngIf="tagID=='UR'"><a [routerLink]="['/']"><i class="fa fa-home"></i> Events <span class="fa fa-chevron-down"></span></a>                  -->
                  <!-- </li> -->
				  <li *ngIf="tagID=='UR'"><a [routerLink]="['/eventstudentapprovallist']"><i class="fa fa-home"></i> Events student approval list<span class="fa fa-chevron-down"></span></a>                 
                  </li>
				  
				  <li *ngIf="tagID=='U'"><a [routerLink]="['/eventstudentapprovallist']"><i class="fa fa-home"></i> Events student approval list<span class="fa fa-chevron-down"></span></a>                 
                  </li>
				 
				 <li *ngIf="tagID=='U'"><a [routerLink]="['/UniversityTransMapping']"><i class="fa fa-home"></i> UniversityTransMapping <span class="fa fa-chevron-down"></span></a>                 
                  </li>
                  
				  <li *ngIf="tagID=='U'"><a [routerLink]="['/universityrole']"><i class="fa fa-edit"></i>Role Master <span class="fa fa-chevron-down"></span></a> 
                  </li>
				  
				  <li *ngIf="tagID=='U'"><a [routerLink]="['/eventinfo/0']"><i class="fa fa-edit"></i> Create Event <span class="fa fa-chevron-down"></span></a> 
                  </li>
				  <li *ngIf="tagID=='U'"><a [routerLink]="['/adduniversityroledetail']"><i class="fa fa-edit"></i> User Role Mapping <span class="fa fa-chevron-down"></span></a> 
                  </li>
				  
                  <li *ngIf="tagID=='S'"><a [routerLink]="['/profile']"><i class="fa fa-desktop"></i> Profile <span class="fa fa-chevron-down"></span></a>                   
                  </li>
                  <li *ngIf="tagID=='S'"><a><i class="fa fa-table"></i> Events Information <span class="fa fa-chevron-down"></span></a>
                    
                  </li>
                  <li *ngIf="tagID=='S'"><a><i class="fa fa-bar-chart-o"></i> My Goal <span class="fa fa-chevron-down"></span></a>
                   
                  </li>
				  <li *ngIf="tagID=='U'"><a [routerLink]="['/studentList']"><i class="fa fa-edit"></i> Student List <span class="fa fa-chevron-down"></span></a> 
                  </li>
				  <li><a [routerLink]="['/changepassword']"><i class="fa fa-edit"></i> Change Password <span class="fa fa-chevron-down"></span></a> 
                  </li>
				  
				  <!--<li *ngIf="!authService.login()" [routerLinkActive]="['active']"   [routerLinkActiveOptions] = "{exact:true}"><a  [routerLink]="['/login']">Login</a></li>-->           

                  <!-- <li *ngIf="!authService.login()" [routerLinkActive]="['active']"   [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/register']">Register</a> -->
		          
				  
                 
                </ul>
              </div>
              <div class="menu_section">
               
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
			  <!-- <li *ngIf="authService.login()" [routerLinkActive]="['active']"   [routerLinkActiveOptions] = "{exact:true}"><a  [routerLink]="['/login']">Login</a></li>  -->
			   <!-- <li *ngIf="!authService.login()" [routerLinkActive]="['active']"   [routerLinkActiveOptions] = "{exact:true}"><a href="#"  (click)="onLogoutClick()">Logout</a></li> -->
                
				<!-- <li *ngIf="!authService.login()" [routerLinkActive]="['active']"   [routerLinkActiveOptions] = "{exact:true}"><a  [routerLink]="['/login']">Login</a></li>  -->
			   <!-- <li ><a href="#"  (click)="onLogoutClick()">Logout</a></li> --> 
				
				<li>
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="./src/img/profile.png"  alt="">
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a > Profile</a></li>                  
                    <li *ngIf="authService.login()" [routerLinkActive]="['active']"   [routerLinkActiveOptions] = "{exact:true}"><a href="login.html" (click)="onLogoutClick()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li> 
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="#" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="#" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="#" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="#" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
       <!-- footer content -->
        
        <!-- /footer content -->
      </div>
    </div>
	<div id="ProfileModal" class="modal fade" role="dialog">
	<!-- <app-profile></app-profile> -->

  </div> 
	<!-- <div id="ProfileModal" class="modal fade" role="dialog"> -->
  <!-- <div class="modal-dialog"> -->

    <!-- <!-- Modal content--> 
    <!-- <div class="modal-content"> -->
      <!-- <div class="modal-header"> -->
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <!-- <h4 class="modal-title" style="color:#73879C;background: #F7F7F7;font-family:inherit;font-size: 30px;font-weight: 400;line-height: 1.471">profile</h4> -->
      <!-- </div> -->
      <!-- <div class="modal-body"> -->
        <!-- <p style="color:black;font-size:26px;"><b>Student Name:</b> {{this.student.Student_Name}}</p> -->
		<!-- <p style="color:black;font-size:26px;"><b>Student Email:</b> {{this.student.Email_ID}}</p> -->
		<!-- <p style="color:black;font-size:26px;"><b>Student ID:</b> {{this.student.Student_ID}}</p> -->
		<!-- <p style="color:black;font-size:26px;"><b>Student Contact:</b> {{this.student.Mobile_No}}</p> -->
		<!-- <p style="color:black;font-size:26px;"><b>Student Address:</b> {{this.student.Address}}</p> -->
		
      <!-- </div> -->
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      <!-- </div> -->
    <!-- </div> -->

  <!-- </div> -->
<!-- </div> -->