<!-- <div class="showcase"> -->
<!-- <div class="jumbotron-register"> -->
  <!-- <h1>Welcome to LinkUS Registration page!</h1> -->
  <!-- <p> -->
    
  <!-- </p> -->

<!-- </div> -->


<ng-container *ngIf="authService.login();">
<app-navbar></app-navbar> 

<div class="container">  




  <div class="row">
    <div class="col-am-6 col-md-4 col-md-offset-4" style="width:100%">
      <h1 class="text-left">Change Password</h1>
      <br>
      <div class="account-wall" style="width:40%">
	  
	  
<form (submit)="onPasswordSubmit()" #CPwdForm="ngForm">	

<div id="tabs">
<div class="row">
<div class="alert alert-success" *ngIf="SuccessMessage !=''">
  <strong>{{SuccessMessage}}</strong>
</div>
<ul class="nav nav-tabs" id="wheel-tab">
<li class="active " #firstLI>
<a href="#OverviewTab" data-toggle="tab">Change password</a>
</li>



</ul>

<div class="tab-content x_panel">
<div id="OverviewTab" class="tab-pane fade in active">

<!-- <div> -->
<!-- <ul> -->
<!-- <li class="red" *ngFor="let a of this.ErrorList; let index = index"> -->
<!-- {{ErrorList[index]}} -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->



 

				<label>Email <span class="red">*</span></label>
				<div class="input-group">
				 <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
					
					<input required type="text" [(ngModel)]="model.Email_ID" name="Email_ID" ngControl="email"  class="form-control" placeholder="Email"
					autofocus="true" id="#email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
					<div [hidden]="email.valid || email.pristine"
						 class="alert alert-danger">
					  <div [hidden]="!email.hasError('required')">Email is required</div>
			   <div [hidden]="!email.hasError('pattern')">Email format should be 
				  <small><b>joe@abc.com</b></small>
			   </div>			

					</div>
				<div class="alert alert-danger" *ngIf="ErrorList.length != 0">
				 <small><b>{{ErrorList[0]}}</b></small>
				</div>
				</div>
				<label>Old Password <span class="red">*</span></label>
				<div class="input-group">
				 <span class="input-group-addon"><i class="fa fa-key"></i></span>
					
					<input required type="password" [(ngModel)]="model.OldPwd" name="OldPwd" ngControl="OldPwd"  class="form-control" placeholder="Old Password"
					autofocus="true" id="#OldPwd" #OldPwd="ngModel">
					<div [hidden]="OldPwd.valid || OldPwd.pristine"
						 class="alert alert-danger">
					  <div [hidden]="!OldPwd.hasError('required')">Password is required</div>
			   <!-- <div [hidden]="!OldPwd.hasError('pattern')">Password should be minimum 8 characters at least 1 Alphabet and 1 Number -->
				 
			   <!-- </div> -->
					</div>
				</div>
				<label>Password <span class="red">*</span></label>
				<div class="input-group">
				 <span class="input-group-addon"><i class="fa fa-key"></i></span>
					
					<input required type="password" [(ngModel)]="model.Pwd" name="Pwd" ngControl="Pwd"  class="form-control" placeholder="Password"
					autofocus="true" id="#Pwd" #Pwd="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
					<div [hidden]="Pwd.valid || Pwd.pristine"
						 class="alert alert-danger">
					  <div [hidden]="!Pwd.hasError('required')">Password is required</div>
			   <div [hidden]="!Pwd.hasError('pattern')">Password should be minimum 8 characters at least 1 Alphabet and 1 Number
				 
			   </div>
					</div>
				</div>
				<label>Confirm Password <span class="red">*</span></label>
				<div class="input-group">
				 <span class="input-group-addon"><i class="fa fa-key"></i></span>
					
					
					<input type="password" class="form-control" id="ConfirmPwd"
			   required
			   validateEqual="Pwd"
			   [(ngModel)]="model.ConfirmPwd" name="ConfirmPwd" placeholder="Confirm Password"
			   #ConfirmPwd="ngModel">
			   <div [hidden]="ConfirmPwd.valid || ConfirmPwd.pristine"
				  class="alert alert-danger">
				  Passwords did not match
			   </div>
				</div>
</div> 



<div>
	
	<input type="submit" class="btn btn-lg btn btn-primary btn-block" style="width:15%;float:right" value="Change" [disabled]="!CPwdForm.form.valid">
	</div>
	
</div>


</div>

</div>

</form>
</div>
</div>
</div>

</div>


</ng-container>
<ng-container *ngIf="!authService.login();">
    <app-login></app-login>
</ng-container> 