<ng-container *ngIf="authService.login();">
<app-navbar></app-navbar> 

<!-- page content -->
        <div class="right_col" role="main">
		
          <div class="">

            <div class="page-title">
              <div class="title_left">
			  
                <h3>Event - Employee request List <small></small></h3>
              </div>

              <div class="title_right">
			  
			  <!-- <div [routerLinkActive]="['active']"   [routerLinkActiveOptions] = "{exact:true}"><a  class="big-red-button" [routerLink]="['/eventinfo/0']">Register Event</a> -->
			  <!-- </div> -->
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="searchFilter" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" (click)="open()" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
<flash-messages></flash-messages>  
<div id="tabs">
<div class="row">

<ul class="nav nav-tabs">
<li class="active" >
<a href="#OverviewTab" data-toggle="tab">Future Event</a>
</li>


</ul>

<div class="tab-content x_panel">
<div id="OverviewTab" class="tab-pane fade in active">
 <div class="row">
 
              <div class="col-md-12">
                <div>
            
                  <div class="x_content">
				   <div class="row">
                      <div class="col-md-12">
                     
                     <div class="header">
						<flash-messages></flash-messages>    
					 </div>				
					 
					  <accordion [showArrows]="true" [closeOthers]="true" [expandAll]="false">
					   <accordion-group *ngFor="let item1 of OrgnEventModel;" style="margin:10px;">
					   <accordion-heading> 
					   <div class="mail_listEvent">
					   <div class="left">
                              <i class="fa icon-time"></i>  &nbsp;{{item1.RemainDay}} days
							  <!-- <a href="../eventDetails/{{item.EventID}}" style="background-image: url('http://www.hackathon.io/assets/icns/avatar/event.png');"></a> -->
                            </div>
							<div class="right" style="width:80%">
					   <b><a style="text-decoration: underline;" [routerLink]="['/eventDetails/', item1._id]">{{item1.EventTitle}}</a> </b>
					   </div>
					   </div>
					   </accordion-heading>
					   
					   <div class="table-responsive">          
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th *ngIf="tagID=='OR'" style="color:#1e6bb8"><input type="checkbox" name="all" [checked]="isAllChecked(item1)" (change)="checkAll($event, item1)"/> Select</th>
									<th>Req No</th>
									<th>Employee Name</th>
									<th *ngIf="tagID=='O'">Prev Approval</th>
									<th>Next Approval</th>
									
								  </tr>
								</thead>
								<tbody>
								  <tr *ngFor="let item of item1.organization_EventApprovalUserList; let i=index">
								  
									<td *ngIf="tagID=='OR'"> <input type="checkbox" name="sizecb[]"  value="{{item.Tran_Approval_ID}}" [(ngModel)]="item.isChecked" (change)="check($event, item1, item.Tran_Approval_ID)"/></td>
									<td [tooltip]="toltip">{{item.Tran_Approval_ID}}</td>
									<td>{{item.Employee_Name}}</td>
									<td *ngIf="tagID=='O'">{{item.Prev_Approver_RName}}</td>
									<td>{{item.Next_Approver_RName}}</td>									
									<tooltip-content #toltip [animation]="true" placement="top">
										<span style="color: #ffc520">Next Approver :</span> <span style="color: #00b3ee">{{item.Next_Approver_RName}}</span><br/>
										<span style="color: #ffc520">Prev Approver :</span> <span style="color: #00b3ee">{{item.Prev_Approver_RName}}</span>
										<!-- <b><i><span style="color: #ffc520">PrevApproval: Sumit - Hod</span></i></b> <small>Html support</small>. -->
								  </tooltip-content>
								  </tr>
								</tbody>
							  </table>
							  </div>
					   
					   
					   
					   
					   
					   
					   
					   
					   <!-- <div class="header">   -->
                      
					
						<!-- <ul> -->
						
						<!-- <li *ngIf="tagID=='OR'"><input type="checkbox" name="all" [checked]="isAllChecked(item1)" (change)="checkAll($event, item1)"/> <label>Select all</label></li> -->
							<!-- <li><a>Req No</a></li> -->
							
							<!-- <li><a>Student name</a></li> -->
							<!-- <li *ngIf="tagID=='O'"><a>Prev Approval</a></li> -->
							<!-- <li><a>Next approval</a></li> -->
							
							<!-- <!-- <li></li> --> 
						<!-- </ul> -->
						<!-- </div> -->
						<div class="item"> 
					<!-- <ul class="col-md-12 mail_list_column mail_list" *ngFor="let item of item1.university_EventApprovalUserList; let i=index"> -->
					 <!-- <tooltip-content #toltip [animation]="true" placement="top"> -->
						<!-- <span style="color: #ffc520">Next Approver :</span> <span style="color: #00b3ee">{{item.Next_Approver_RName}}</span><br/> -->
						<!-- <span style="color: #ffc520">Prev Approver :</span> <span style="color: #00b3ee">{{item.Prev_Approver_RName}}</span> -->
						<!-- <!-- <b><i><span style="color: #ffc520">PrevApproval: Sumit - Hod</span></i></b> <small>Html support</small>. --> 
					<!-- </tooltip-content> -->
					<!-- <li *ngIf="tagID=='OR'"> <input type="checkbox" name="sizecb[]"  value="{{item.Tran_Approval_ID}}" [(ngModel)]="item.isChecked" (change)="check($event, item1, item.Tran_Approval_ID)"/></li> -->
					<!-- <li [tooltip]="toltip">{{item.Tran_Approval_ID}}</li> -->
					 <!-- <!-- <li tooltip content="Next Approver : Amit Khandelwal - Principal{{item.Next_Approver_RID}}<br/> PrevApproval: Sumit - Hod{{item.Prev_Approver_RID}}">{{item.Tran_Approval_ID}}</li> -->
                      
					  <!-- <li > {{item.Student_Name}}</li> -->
					  <!-- <li *ngIf="tagID=='O'">{{item.Prev_Approver_RName}} </li> -->
                      <!-- <li>{{item.Next_Approver_RName}} </li> -->
                      
                     
					  <!-- <!-- <li *ngIf="tagID=='OR'"> --> 
					  <!-- <!-- <a class="btn btn-primary pull-right" (click)="ApproveStudent(item)">Approve</a> --> 
					  <!-- <!-- <!-- <a class="btn btn-primary pull-right" style="width:66px;" (click)="showPopup(item._id)" data-toggle="modal" data-target="#vv">Edit</a>  --> 
					  
					  <!-- <!-- </li> -->
					<!-- </ul> -->
					<div *ngIf="tagID=='OR'">
					
					<!-- <a  class="btn btn-primary"  style="margin-top:10px;" (click)="ApproveStudent(item1)">{{ApproveAllOrConfirmAll}}</a> -->
					<a  class="btn btn-primary"  style="margin-top:10px;" (click)="ApproveStudent(item1)" data-toggle="modal" data-target="#commentAllDiv">{{ApproveAllOrConfirmAll}}</a>
					<a  class="btn btn-primary"  style="margin-top:10px;" (click)="RejectStudent(item1)" data-toggle="modal" data-target="#RejectCommentAllDiv">Reject All</a>
					</div>
					</div>
					</accordion-group>
						
					</accordion>
					
                      </div> 
					  
                      <!-- /MAIL LIST -->

                      <!-- CONTENT MAIL -->
                     
                      <!-- /CONTENT MAIL -->
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
</div>
</div>
</div>
</div>
           
          </div>
		  </div>
		  <div id="commentAllDiv" class="modal fade" role="dialog" >
<div class="modal-dialog" style="width:40% !important" >

<div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color:#73879C;background: #F7F7F7;font-family:inherit;font-size: 30px;font-weight: 400;line-height: 1.471">Approve Student for Event </h4>
      </div>
	  <div class="modal-body">
	   
	   <textarea [(ngModel)]="Comments" name="Comments" ngControl="Comments"  class="form-control" placeholder="Comments"
		 autofocus="true" cols="3" rows="3" maxlength="2000"></textarea>
		 </div>
	<div class="modal-footer">  
<input type="button" class="btn btn-lg btn btn-primary btn-block student_update" id="close" data-dismiss="modal" value="Cancel" style="margin-top:4px;">
<input type="button" (click)="SubmitAllApproveItem()" class="btn btn-lg btn btn-primary btn-block student_update" value="Submit" >


	 
</div>
</div>
</div>
</div>

<div id="RejectCommentAllDiv" class="modal fade" role="dialog" >
<div class="modal-dialog" style="width:40% !important" >

<div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color:#73879C;background: #F7F7F7;font-family:inherit;font-size: 30px;font-weight: 400;line-height: 1.471">Reject Student for Event </h4>
      </div>
	  <div class="modal-body">
	   
	   <textarea [(ngModel)]="Comments" name="Comments" ngControl="Comments"  class="form-control" placeholder="Comments"
		 autofocus="true" cols="3" rows="3" maxlength="2000"></textarea>
		 </div>
	<div class="modal-footer">  
<input type="button" class="btn btn-lg btn btn-primary btn-block student_update" id="closeR" data-dismiss="modal" value="Cancel" style="margin-top:4px;">
<input type="button" (click)="SubmitAllRejectItem()" class="btn btn-lg btn btn-primary btn-block student_update" value="Submit" >


	 
</div>
</div>
</div>
</div>
       
</ng-container>
<ng-container *ngIf="!authService.login();">
    <app-login></app-login>
</ng-container> 
