<ng-container>
<app-navbar></app-navbar> 
<div class="page-inner" role="main">
      <div class="page-title" style="margin-top:63px;">
			<h3>Student List</h3>
			<div *ngIf="showSearchDiv !=''" id="sediv" class="input-group" style="width:50%;margin-top:-2%;float:right;" >                
				<input  #search class="form-control search" style="margin:0px;" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
                <span class="input-group-btn">
                    <button style="margin:0px;" class="btn btn-default close-search waves-effect waves-button waves-classic" (click)="onSearch(search.value)" type="button"><i class="fa fa-search"></i>Go</button>
                </span>
            </div>
			 <a *ngIf="showSearchDiv ==''" (click)="showSearchBox()" class="waves-effect waves-button waves-classic show-search" style="float:right;margin-top:-1%;"><i class="fa fa-search"></i></a>
			</div>  
	


 <div id="main-wrapper" style="margin-left:0px !important;">
 
              <div class="col-md-12">
                <div class="panel panel-white">
            
                  <div class="panel-body">
				   <ng2-smart-table [settings]="settings" [source]="source" mode="external"></ng2-smart-table>
                      <!-- <div class="col-md-12 mail_list_column"> -->
                      
                     <!-- <div class="header">   -->
                    <!-- <ul > -->
					
					<!-- <li><a>Student name</a></li> -->
					<!-- <li><a>Email ID</a></li> -->
					<!-- <li><a>Address</a></li>					 -->
					<!-- <li><a>Mobile No</a></li> -->
					
					
					<!-- </ul> -->
					<!-- </div> -->
					<!-- <div class="item">  -->
					 <!-- <ul class="col-md-12 mail_list_column mail_list" *ngFor="let item of Students; let i=index"> -->
	
                      <!-- <li>{{item.Student_Name}}</li>					  -->
					  <!-- <li > {{item.username}}</li> -->
                      <!-- <li>{{item.Address}} </li> -->
                      <!-- <li> {{item.Mobile_No}}</li> -->
                     
					
<!-- </ul> -->
                      <!-- </div> </div> -->
					  
                      <!-- /MAIL LIST -->

                      <!-- CONTENT MAIL -->
                     
                      <!-- /CONTENT MAIL -->
                    
                    
                  </div>
                </div>
              </div>
            </div>
</div>
</ng-container>

