<ng-container>
<app-navbar></app-navbar> 
<div style="margin-left:230px">
      <nav class="navbar ">
  <div class="container-fluid">
    
	<div class="title_left">
                <h3>Organization List <small></small></h3>
              </div>
	<div class="nav navbar-nav navbar-right col-xs-3">
	<input  #search class="search col-xs-6" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
		<a data-toggle="modal" class="btn btn-primary pull-right navbar-btn" (click)="clearModel();" data-target="#vv">Add Organization</a>
    </div>
	
	
  </div>
</nav>

 <div class="row">
              <div class="col-md-12">
                <div>
            
                  <div class="x_content">
				   <div class="row">
				   <ng2-smart-table [settings]="settings" [source]="source" mode="external" (deleteConfirm)="onDeleteConfirm($event)" (custom)="onEdit($event)"></ng2-smart-table>
				   <a class="btn btn-primary pull-right" style="display:none;" id="deletebtn"  data-toggle="modal" data-target="#deleteDiv">Delete</a>
				   <a class="btn btn-primary pull-right" style="display:none;" id="editbtn" data-toggle="modal" data-target="#vv">Edit</a>
                      <!-- <div class="col-md-12 mail_list_column"> -->
                      
                     <!-- <div class="header">   -->
                    <!-- <ul > -->
					<!-- <li><a>Organization Name</a></li> -->
					<!-- <li><a>Address</a></li> -->
					<!-- <li><a>EmailID</a></li> -->
					<!-- <li><a>Contact No</a></li>					 -->
					<!-- <li><a>Active</a></li> -->
					<!-- <li></li> -->
					<!-- </ul> -->
					<!-- </div> -->
					<!-- <div class="item">  -->
					 <!-- <ul class="col-md-12 mail_list_column mail_list" *ngFor="let item of organizationList; "> -->
                      <!-- <li> {{item.OrgnName}}</li> -->
					  <!-- <li> {{item.Address}}</li> -->
                      <!-- <li>{{item.EmailID}} </li> -->
                      <!-- <li> {{item.ContactNo}}</li> -->
                      <!-- <li> <input type="checkbox" checked="checked"> </li> -->
					  <!-- <li> -->
					  <!-- <a class="btn btn-primary pull-right" style="width:66px;" (click)="deleteOrganization(item._id)"  data-toggle="modal" data-target="#deleteDiv">Delete</a> -->
					  <!-- <a class="btn btn-primary pull-right" style="width:66px;" (click)="showPopup(item._id)" data-toggle="modal" data-target="#vv">Edit</a>  -->
					  
					  <!-- </li> -->
<!-- </ul> -->
                      <!-- </div> </div> -->
					  
                      <!-- /MAIL LIST -->

                      <!-- CONTENT MAIL -->
                     
                      <!-- /CONTENT MAIL -->
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
</div>

<div id="deleteDiv" class="modal fade" role="dialog" >
<div class="modal-dialog" style="width:50% !important" >

<div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color:#73879C;background: #F7F7F7;font-family:inherit;font-size: 30px;font-weight: 400;line-height: 1.471">Delete Organization </h4>
      </div>
	  <div class="body border">
	   <div class="row">
	   <input type="hidden"  name="deleteID"  [(ngModel)]="organizationmodel.deleteID">
	   <h2> Do you really  want to delete organization ? </h2>
	   </div>
	  <div class="row" >
<input type="button" class="btn btn-lg btn btn-primary btn-block student_update" id="close2" data-dismiss="modal" value="Cancel" style="margin-top:4px;">
<input type="button" (click)="deleteItem()" class="btn btn-lg btn btn-primary btn-block student_update" value="Delete" >

</div>
	  </div>
</div>
</div>
</div>
	<div id="vv" class="modal fade" role="dialog">
	
<!-- <app-add-university></app-add-university> -->


	
	
     	<form  #AddOrganizationForm="ngForm" novalidate>
  <div class="modal-dialog" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color:#73879C;background: #F7F7F7;font-family:inherit;font-size: 30px;font-weight: 400;line-height: 1.471">{{Action}} Organization </h4>
      </div>
	  <div class="body border">
<div class="row">
<div class="two columns">
<label>Organization Name</label>	
<span  class="red">*</span>
</div>
<div class="ten columns">
<div class="input string required user_full_name">

    <input required class="string required"  name="OrganizationName" [(ngModel)]="organizationmodel.OrgnName"  size="50" type="text" id="#OrganizationName" #OrganizationName="ngModel">
</div>
<div  [hidden]="errorMsg.length<=0" class="alert alert-danger " style="width:48%">{{errorMsg}}</div>
<div [hidden]="OrganizationName.valid || OrganizationName.pristine"
             class="alert alert-danger " style="width:48%">
          Organization Name is required
        </div>	
</div>
</div>

<div class="row">
<div class="two columns">
<label>Organization Title</label>

</div>
<div class="ten columns">
<div class="input string optional user_headline">
    <input class="string optional" id="#Title" [(ngModel)]="organizationmodel.Title"   name="Title" #Title="ngModel"  size="50" type="text"></div>
		
</div>
</div>


<div class="row">
<div class="two columns">
<label>Organization Email</label>
<span  class="red">*</span>
</div>
<div class="ten columns">
<div class="input string optional user_headline">
   <input class="string optional" required id="#EmailID"  [(ngModel)]="organizationmodel.EmailID"  name="EmailID" #EmailID="ngModel"  size="50" type="text"
   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"></div>
   <div [hidden]="EmailID.valid || EmailID.pristine"
             class="alert alert-danger " style="width:48%">
          
		      <div [hidden]="!EmailID.hasError('required')">Organization EmailID is required</div>
   <div [hidden]="!EmailID.hasError('pattern')">Email format should be 
      <small><b>joe@abc.com</b></small>
   </div>
        </div>	
   
</div>
</div>
<div class="row">
<div class="two columns">
<label>Organization Contact</label>
<span  class="red">*</span>
</div>
<div class="ten columns">
<div class="input string optional user_headline">
    <input class="string optional" required id="#ContactNo" pattern="[0-9]*" minlength="10" maxlength="10" [(ngModel)]="organizationmodel.ContactNo"   name="ContactNo" #ContactNo="ngModel"  size="50" type="text"></div>
	
	<div [hidden]="ContactNo.valid || ContactNo.pristine"
             class="alert alert-danger " style="width:48%">
         <div [hidden]="!ContactNo.hasError('minlength')">Organization Contact No should be 10 digit</div>
				  <div [hidden]="!ContactNo.hasError('required')">Organization Contact No is required</div>
				  <div [hidden]="!ContactNo.hasError('pattern')">Organization Contact No should be only numbers</div>
        </div>	
</div>
</div>

<div class="row">
<div class="two columns">
<label>Organization Address</label>
</div>
<div class="ten columns">
<div class="input string optional user_headline">
   <input class="string optional"  [(ngModel)]="organizationmodel.Address"  name="Address"   size="50" type="text" id="#Address" #Address="ngModel"></div>


</div>
</div>
<!-- <div class="row"> -->
<!-- <div class="two columns"> -->
<!-- <label> RoleID</label> -->
<!-- </div> -->
<!-- <div class="ten columns"> -->
<!-- <div class="input string optional student_bio"> -->
     <!-- <input class="string optional" id="Student_Heading" [(ngmodel)]="univeritymodel.UniversityName"   name="Student_Heading"   size="50" type="text"></div> -->
<!-- </div> -->
<!-- </div> -->
<div class="row">
<div class="two columns">
<label>Organization Overview</label>

</div>
<div class="ten columns">
<div class="input string optional user_headline" style="width:48%">
    <textarea [(ngModel)]="organizationmodel.Overview" name="Overview" ngControl="Overview"  class="form-control"
		autofocus="true" id="#Overview" #Overview="ngModel" cols="2" rows="3" maxlength="2000"></textarea>
</div>
</div>
</div>

<div class="row">
<input type="button" class="btn btn-lg btn btn-primary btn-block student_update" id="close" data-dismiss="modal" value="Close" style="margin-top:4px;">
<input type="button" (click)="updateProfile()" class="btn btn-lg btn btn-primary btn-block student_update" value="Save" [disabled]="!AddOrganizationForm.form.valid">

</div>

        </div>
     
    </div>

  </div>
</form>
 


  </div> 
</ng-container>
